h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
#blog_wrapper {
  margin-top: 80px;
}
#blog_wrapper h1 {
  margin-bottom: 20px;
}
a {
  cursor: pointer;
}
footer {
  border-top: 1px solid #AAA;
  margin-top: 20px;
}
#blog_wrapper p {
  font-size: 17px !important;
}
