---
---

#blog_wrapper {
  margin-top: 20px;
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  a {
    cursor: pointer;
  }
  p {
    font-size: 17px !important;
  }
  h1 {
    margin-bottom: 20px;
  }
}
