.bg-black-alfa-30:before {
  background: rgba(0, 0, 0, 0.8);
}
.bg-black-alfa-40:before {
  background: rgba(0, 0, 0, 0.7);
}
.site_description {
  font-size: 36px;

}
/*our work cleancut*/
.work-hover:hover{
padding-top: 2px;
background-color: #5faee3;
}

@media only screen and (max-width: 340px) {
  #achievements{
display:none;
  }
  #ourwell{
    padding-top: 40px;
  }
  .ourw{
    list-style-type: none;
    width:100%;
    margin:0;
    padding:0;
  }
  .ourw a li{
padding:7px;
background-color: #3498db;
color:white;
text-decoration: none;
margin-bottom: 4px;
border-bottom: 1px solid grey;
border-radius: 7px;
}
.ourw a{
  text-decoration: none;
  color:white;
}
  .ourw li:hover{
    padding-top: 2px;
    background-color:#5faee3;

  }
  .button{


    width:160px;
    background-color: grey;
    padding-top:10px;
    border:none;
display:left;
    padding-bottom:10px;
    /* border-radius: 10px; box-shadow: 2px 3px 3px #f47023; */
    font-family:"Helvetica Neue,Helvetica,Arial,sans-serif";
    font-size: 20px;
  }

}

@media only screen and (min-width: 341px) {
  #ourworks-small{
    display:none;
  }
}
.feature{
  width: 290px;
  height: 300px;
  display: block;
  text-align:center;
  color:white;
  background: #3498db;
  margin: 20px auto;
  border-radius: 18px;
  box-shadow: 0 14px 43px 0 rgba(0,0,0,0.63);
}
.feature h4{
  color:white;
  margin-top: -10px;
}


.imag {
  width:290px;
  height: 250px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-bottom: 7px;
}
#blogactive:hover{
border-bottom: 2px solid grey;
color:grey;
font-weight: bolder;
  }
.widget{

  width:100%;

}
/*button say hello*/
.button{


  width:200px;
  background-color: grey;
  padding-top:10px;
  border:none;
  padding-bottom:10px;
  /* border-radius: 10px; box-shadow: 2px 3px 3px #f47023; */
text-align: center;
  font-family:"Helvetica Neue,Helvetica,Arial,sans-serif";
  font-size: 20px;
}
.button:hover{
  border:none;

}
.button:focus{
  outline: none;
}
.button:active{
  border:none;
}


/*bootstrap callout extra feature*/

.bs-callout {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
padding-bottom: -35px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    height: 70%;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
/*blog extra feature */
.article-border{

  border-left: 9px solid #5faee3;
}

#blogwell, .article-headclr:hover{

  position:relative;
  padding:3px 3px;
  color:#5faee3;
}


.inner-header:hover{
padding-top:2px;
}
.inner-nav li a:hover{
font-weight: bold;
color:#5faee3;
}
