<header class="header js-stick">
  <div class="container">
    <!-- YOUR LOGO HERE -->
    <div class="inner-header">
      <a class="inner-brand" href="index.html">
        <img class="brand-light" src="/images/logo-light.png" width="100" alt="">
        <img class="brand-dark" src="/images/logo-dark.png" width="100" alt="">
      </a>
    </div>
  
    <!-- OPEN MOBILE MENU -->
    <div class="main-nav-toggle">
      <div class="nav-icon-toggle" data-toggle="collapse" data-target="#custom-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
    </div>

    <!-- MAIN MENU -->
    <nav id="custom-collapse" class="main-nav collapse clearfix">
      <ul class="inner-nav pull-right">
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </nav>
  
  </div>
</header>
