<header class="header js-stick">
  <div class="container">
    <!-- YOUR LOGO HERE -->
    <div class="inner-header">
      <a class="inner-brand" href="/">
        <img class="brand-light" src="/images/logo-light.png" width="100" alt="">
        <img class="brand-dark" src="/images/logo-dark.png" width="100" alt="">
      </a>
    </div>

    <!-- OPEN MOBILE MENU -->
    <div class="main-nav-toggle">
      <div class="nav-icon-toggle" data-toggle="collapse" data-target="#custom-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
    </div>

    <!-- MAIN MENU -->
    <nav id="custom-collapse" class="main-nav collapse clearfix">
      <ul class="inner-nav pull-right">
        <li>
          <a href="/blog" alt="Blog" id="blogactive">Blog</a>
        </li>
        <li>
          <a href="/portfolio" alt="Portfolio"id="blogactive">Portfolio</a>
        </li>
        <li>
          <a href="/contact-us" alt="Contact Us" style="border-bottom:2px solid #3498db; color:#3498db; font-weight:bold;">Contact Us</a>
        </li>
      </ul>
    </nav>

  </div>
</header>
