<footer class="footer">
  <div class="container">
  
    <div class="row">
  
      <!--  -->
      <div class="col-sm-3">
        <div class="widget">
          <div class="counter p-0 m-b-30">
            <h2 class="montserrat m-b-5">
              Inkoop
            </h2>
            <h5>CIN #U74999BR2016PTC031725</h5>
          </div>
  
          <ul class="social-icons social-icons-simple">
            <li><a href="https://www.facebook.com/inkoop.consultancy" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/InkoopWeb" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/+InkoopIn" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
      <!--  -->
  
      <!-- TWITTER WIDGET -->
      <div class="col-sm-3">
        <div class="widget">
          <h6 class="montserrat text-uppercase bottom-line">Latest Tweets</h6>
          <div id="twitter-feed"></div>
        </div>
      </div>
      <!-- END TWITTER WIDGET -->
  
      <!-- RECENT POSTS WIDGET -->
      <div class="col-sm-3">
        <div class="widget">
          <h6 class="montserrat text-uppercase bottom-line">Recent Posts</h6>
          <ul class="recent-posts">
            <li>
              <div class="widget-posts-body">
                <h6 class="widget-posts-title"><a href="/blog/testing-using-cucumber-in-ruby">Testing Using Cucumber in Ruby</a></h6>
                <div class="widget-posts-meta">January 11, 2017</div>
              </div>
            </li>
            <li>
              <div class="widget-posts-body">
                <h6 class="widget-posts-title"><a href="/blog/web-scraping-using-selenium-ruby">Web Scraping using Selenium in Ruby</a></h6>
                <div class="widget-posts-meta">January 5, 2017</div>
              </div>
            </li>
            <li>
              <div class="widget-posts-body">
                <h6 class="widget-posts-title"><a href="/blog/use-gemfile-in-ruby-application" alt="How to manage gems in ruby application using Gemfile">How to manage gems in ruby application using Gemfile</a></h6>
                <div class="widget-posts-meta">December 18, 2016</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- END RECENT POSTS WIDGET -->
  
      <!-- CONTACT WIDGET -->
      <div class="col-sm-3">
        <div class="widget">
          <h6 class="montserrat text-uppercase bottom-line">Contact Us</h6>
          <address class="map-background">
            <p><b>Registered Office</b><br/>15/16, Abhishek Plaza, Exhibition Road, Patna, Bihar, India - 800001</p>
            <p><b>Working Office</b><br/>3rd Floor, #59, 17th Cross, HSR layout Sector 6, Bangalore, India - 560102</p>
            E-mail: <a href="mailto:vivek@inkoop.in">vivek@inkoop.in</a>
          </address>
        </div>
      </div>
      <!-- END CONTACT WIDGET -->
  
    </div><!-- .row -->
  
    <div class="copyright">
  
      <div class="row">
  
        <div class="col-sm-6">
          <p class="m-0">
            Copyright <a href="/">Inkoop Consultancy Private Limited</a>, 2016, All Rights Reserved.
          </p>
        </div>
  
        <div class="col-sm-6">
          <div class="text-right">
            <a href="#top" class="scroll-top"><i class="fa fa-level-up"></i></a>
          </div>
        </div>
  
      </div><!-- .row -->
  
    </div>
  
  </div>
</footer>
