<!-- FOOTER -->
<footer id="footer" class="footer">
  <div class="container">
  
    <div class="row">
  
      <!--  -->
      <div class="col-sm-3">
        <div class="widget">
          <p>Inkoop Consultancy Private Limited</p>
  
          <ul class="social-icons social-icons-simple">
            <li><a href="https://www.facebook.com/inkoop.consultancy/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/InkoopWeb"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <!--  -->
  
      <!-- TWITTER WIDGET -->
      <div class="col-sm-3">
        <div class="widget">
          <h6 class="montserrat text-uppercase bottom-line">Latest Tweets</h6>
          <div class="twitter-feed" data-twitter="783415227572301825"></div>
        </div>
      </div>
      <!-- END TWITTER WIDGET -->
  
      <!-- RECENT POSTS WIDGET -->
      <div class="col-sm-3">
        <div class="widget">
          <h6 class="montserrat text-uppercase bottom-line">Recent Posts</h6>
          <ul class="recent-posts">
            <li>
              <div class="widget-posts-image">
                <a href="#"><img src="/images/ruby_icon.png" alt=""></a>
              </div>
              <div class="widget-posts-body">
                <h6 class="widget-posts-title"><a href="/use-gemfile-in-ruby-application">How to Manage Gems in Ruby applications using Gemfile</a></h6>
                <div class="widget-posts-meta">October 1, 2016</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- END RECENT POSTS WIDGET -->
  
      <!-- CONTACT WIDGET -->
      <div class="col-sm-3">
        <div class="widget">
          <h6 class="montserrat text-uppercase bottom-line">Contact Us</h6>
          <address class="map-background">
            <p>Registered Office - 15/16, <br/>
            Abhishek Plaza, Exhibition Road, <br/>
            Patna, Bihar, India - 800001<br>
            E-mail: <a href="mailto:vivek@inkoop.in">vivek@inkoop.in</a><br/>
            <small>CIN - U74999BR2016PTC031725</small>
          </address>
        </div>
      </div>
      <!-- END CONTACT WIDGET -->
  
    </div><!-- .row -->
  
    <div class="copyright">
  
      <div class="row">
  
        <div class="col-sm-6">
          <p class="m-0">
            Copyright <a href="/">Inkoop</a>, 2016, All Rights Reserved.
          </p>
        </div>
  
        <div class="col-sm-6">
          <div class="text-right">
            <a href="#top" class="scroll-top"><i class="fa fa-level-up"></i></a>
          </div>
        </div>
  
      </div><!-- .row -->
  
    </div>
  
  </div>
</footer>
<!-- END FOOTER -->
