<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div><a href="/ruby-on-rails-consulting-bangalore" class="gray-text">Request Ruby on Rails Project Quote</a></div><br/>
        <div><a href="use-gemfile-in-ruby-application" class="gray-text">How to manage gems in ruby application using Gemfile</a></div><br/>
        <div>
          <div><b>Inkoop Consultancy Private Limited</b></div>
          <div><small>Registered Office - 15/16, Abhishek Plaza, Exhibition Road, Patna, Bihar, India - 800001</small></div>
          <div><small>CIN - U74999BR2016PTC031725</small></div>
          <div><a href="mailto:vivek@inkoop.in">vivek@inkoop.in</a>
          <div><small>Please contact Vivek in case of any queries or grievances</small></div>
        </div>
      </div>
    </div>
  </div>
</footer>
