<!-- HEADER -->
<header class="header js-stick">
  <div class="container">
    <!-- YOUR LOGO HERE -->
    <div class="inner-header">
      <a class="inner-brand raleway" href="index.html">
        INKOOP
      </a>
    </div>
  
    <!-- OPEN MOBILE MENU -->
    <div class="main-nav-toggle">
      <div class="nav-icon-toggle" data-toggle="collapse" data-target="#custom-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
    </div>
  
    <!-- WIDGETS MENU -->
    <div class="inner-header pull-right">
      <div class="menu-extras clearfix">
  
        <!-- SEARCH -->
        <div class="menu-item hidden-xxs">
          <div class="extras-search">
            <a id="modal-search" href="#"><i class="icon-magnifier icons"></i></a>
            <form action="#" class="header-search-form">
              <div class="search-form-inner">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="header-search-form-clouse">
                        <a href="#" class="form-close-btn">✕</a>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <input type="text" placeholder="Type &amp; hit enter">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- END SEARCH -->
  
      </div>
    </div>
  
    <!-- MAIN MENU -->
    <nav id="custom-collapse" class="main-nav collapse clearfix">
      <ul class="inner-nav pull-right">
  
        <!-- PORTFOLIO -->
        <li class="has-submenu">
          <a href="#">Portfolio</a>
          <ul class="submenu">
            <li class="has-submenu">
              <a href="#">Grid</a>
              <ul class="submenu">
                <li><a href="portfolio-grid-2-cols.html">2 Columns</a></li>
                <li><a href="portfolio-grid-3-cols.html">3 Columns</a></li>
                <li><a href="portfolio-grid-4-cols.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Grid No Space</a>
              <ul class="submenu">
                <li><a href="portfolio-grid-2-cols-nospace.html">2 Columns</a></li>
                <li><a href="portfolio-grid-3-cols-nospace.html">3 Columns</a></li>
                <li><a href="portfolio-grid-4-cols-nospace.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Wide Grid</a>
              <ul class="submenu">
                <li><a href="portfolio-wide-grid-2-cols.html">2 Columns</a></li>
                <li><a href="portfolio-wide-grid-3-cols.html">3 Columns</a></li>
                <li><a href="portfolio-wide-grid-4-cols.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Wide Grid No Space</a>
              <ul class="submenu">
                <li><a href="portfolio-wide-grid-2-cols-nospace.html">2 Columns</a></li>
                <li><a href="portfolio-wide-grid-3-cols-nospace.html">3 Columns</a></li>
                <li><a href="portfolio-wide-grid-4-cols-nospace.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Masonry</a>
              <ul class="submenu">
                <li><a href="portfolio-masonry-2-cols.html">2 Columns</a></li>
                <li><a href="portfolio-masonry-3-cols.html">3 Columns</a></li>
                <li><a href="portfolio-masonry-4-cols.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Masonry No Space</a>
              <ul class="submenu">
                <li><a href="portfolio-masonry-2-cols-nospace.html">2 Columns</a></li>
                <li><a href="portfolio-masonry-3-cols-nospace.html">3 Columns</a></li>
                <li><a href="portfolio-masonry-4-cols-nospace.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Wide Masonry</a>
              <ul class="submenu">
                <li><a href="portfolio-wide-masonry-2-cols.html">2 Columns</a></li>
                <li><a href="portfolio-wide-masonry-3-cols.html">3 Columns</a></li>
                <li><a href="portfolio-wide-masonry-4-cols.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Wide Masonry No Space </a>
              <ul class="submenu">
                <li><a href="portfolio-wide-masonry-2-cols-nospace.html">2 Columns</a></li>
                <li><a href="portfolio-wide-masonry-3-cols-nospace.html">3 Columns</a></li>
                <li><a href="portfolio-wide-masonry-4-cols-nospace.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Works Hover Colors</a>
              <ul class="submenu">
                <li><a href="portfolio-hover-brand.html">Brand Color</a></li>
                <li><a href="portfolio-hover-light.html">Light Color</a></li>
                <li><a href="portfolio-hover-dark.html">Dark Color</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Single Work</a>
              <ul class="submenu">
                <li><a href="portfolio-single-1.html">Single 1</a></li>
                <li><a href="portfolio-single-2.html">Single 2</a></li>
                <li><a href="portfolio-single-3.html">Single 3</a></li>
                <li><a href="portfolio-single-4.html">Single 4</a></li>
              </ul>
            </li>
  
          </ul>
        </li>
        <!-- END PORTFOLIO -->
  
        <!-- BLOG -->
        <li class="has-submenu">
          <a href="#">Blog</a>
          <ul class="submenu">
            <li class="has-submenu">
              <a href="#">Grid</a>
              <ul class="submenu">
                <li><a href="blog-grid-2-col.html">2 Columns</a></li>
                <li><a href="blog-grid-3-col.html">3 Columns</a></li>
                <li><a href="blog-grid-4-col.html">4 Columns</a></li>
                <li><a href="blog-grid-full-width.html">Full Width</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Classic</a>
              <ul class="submenu">
                <li><a href="blog-classic-left-sidebar.html">Sidebar Left</a></li>
                <li><a href="blog-classic-right-sidebar.html">Sidebar Right</a></li>
                <li><a href="blog-classic-no-sidebar.html">Without Sidebar</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Masonry</a>
              <ul class="submenu">
                <li><a href="blog-masonry-2-col.html">2 Columns</a></li>
                <li><a href="blog-masonry-3-col.html">3 Columns</a></li>
                <li><a href="blog-masonry-4-col.html">4 Columns</a></li>
                <li><a href="blog-masonry-full-width.html">Full Width</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Thumbnail</a>
              <ul class="submenu">
                <li><a href="blog-thumbnail-left-sidebar.html">Sidebar Left</a></li>
                <li><a href="blog-thumbnail-right-sidebar.html">Sidebar Right</a></li>
                <li><a href="blog-thumbnail-no-sidebar.html">Without Sidebar</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Single Post</a>
              <ul class="submenu">
                <li><a href="blog-single-sidebar-left.html">Sidebar Left</a></li>
                <li><a href="blog-single-sidebar-right.html">Sidebar Right</a></li>
                <li><a href="blog-single-no-sidebar.html">Without Sidebar</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- END BLOG -->
  
        <!-- DIVIDER -->
        <!-- <li><a>&nbsp;</a></li> -->
  
      </ul>
    </nav>
  
  </div>
</header>
<!-- HEADER -->
