<!-- HEADER -->
<header class="header js-stick">
  <div class="container">
    <!-- YOUR LOGO HERE -->
    <div class="inner-header">
      <a class="inner-brand" href="index.html">
        <img class="brand-light" src="/images/logo-light.png" width="100" alt="">
        <img class="brand-dark" src="/images/logo-dark.png" width="100" alt="">
      </a>
    </div>
  
    <!-- OPEN MOBILE MENU -->
    <div class="main-nav-toggle">
      <div class="nav-icon-toggle" data-toggle="collapse" data-target="#custom-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
    </div>
  
    <!-- WIDGETS MENU -->
    <div class="inner-header pull-right">
      <div class="menu-extras clearfix">
  
        <!-- SEARCH -->
        <div class="menu-item hidden-xxs">
          <div class="extras-search">
            <a id="modal-search" href="#"><i class="icon-magnifier icons"></i></a>
            <form action="#" class="header-search-form">
              <div class="search-form-inner">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="header-search-form-clouse">
                        <a href="#" class="form-close-btn">✕</a>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <input type="text" placeholder="Type &amp; hit enter">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- END SEARCH -->
  
      </div>
    </div>
  
    <!-- MAIN MENU -->
    <nav id="custom-collapse" class="main-nav collapse clearfix">
      <ul class="inner-nav pull-right">
  
        <!-- HOME -->
        <li class="has-submenu">
          <a href="#">Home</a>
          <ul class="submenu">
            <li><a href="index.html">Home: Default</a></li>
            <li><a href="index-corporate-1.html">Home: Corporate 1</a></li>
            <li><a href="index-corporate-2.html">Home: Corporate 2</a></li>
            <li><a href="index-corporate-3.html">Home: Corporate 3</a></li>
            <li><a href="index-corporate-4.html">Home: Corporate 4</a></li>
            <li><a href="index-shop-1.html">Home: Shop</a></li>
            <li><a href="index-web-application.html">Home: Web Application</a></li>
            <li><a href="index-mobile-application.html">Home: Mobile Application</a></li>
            <li><a href="index-landing.html">Home: Landing <span class="label label-base pull-right">new</span></a></li>
            <li><a href="index-architecture.html">Home: Architecture</a></li>
            <li><a href="index-construction.html">Home: Construction</a></li>
            <li><a href="index-fitness.html">Home: Fitness</a></li>
            <li><a href="index-portfolio.html">Home: Portfolio</a></li>
            <li><a href="index-photography.html">Home: Photography</a></li>
            <li><a href="index-onepage.html">Home: One Page <span class="label label-base pull-right">new</span></a></li>
          </ul>
        </li>
        <!-- END HOME -->
  
        <!-- PAGES -->
        <li class="has-submenu">
          <a href="#">Pages</a>
          <ul class="submenu">
            <li class="has-submenu">
              <a href="#">About Us</a>
              <ul class="submenu">
                <li><a href="about-1.html">About 1</a></li>
                <li><a href="about-2.html">About 2</a></li>
                <li><a href="about-3.html">About 3</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Services</a>
              <ul class="submenu">
                <li><a href="services-1.html">Services 1</a></li>
                <li><a href="services-2.html">Services 2</a></li>
                <li><a href="services-3.html">Services 3</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Gallery</a>
              <ul class="submenu">
                <li><a href="gallery-2col.html">Gallery 2</a></li>
                <li><a href="gallery-3col.html">Gallery 3</a></li>
                <li><a href="gallery-4col.html">Gallery 4</a></li>
                <li><a href="gallery-6col.html">Gallery 6</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Contact Us</a>
              <ul class="submenu">
                <li><a href="contact.html">Contact 1</a></li>
                <li><a href="contact-2.html">Contact 2</a></li>
                <li><a href="contact-3.html">Contact 3</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">User Pages</a>
              <ul class="submenu">
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="password-recovery.html">Recover Account</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Careers</a>
              <ul class="submenu">
                <li><a href="careers.html">Careers</a></li>
                <li><a href="careers-detail.html">Careers Detail</a></li>
              </ul>
            </li>
  
            <li><a href="page-404.html">404 Page</a></li>
            <li><a href="page-404-parallax.html">404 Page - Parallax</a></li>
            <li><a href="page-404-video.html">404 Page - Video</a></li>
            <li><a href="page-500.html">500 Page</a></li>
            <li><a href="page-fullwidth.html">Fullwidth Page</a></li>
            <li><a href="page-fullwidth-wide.html">Fullwidth Page - Wide</a></li>
  
            <li class="has-submenu">
              <a href="#">Page with Sidebar</a>
              <ul class="submenu">
                <li><a href="page-sidebar-left.html">Sidebar Left</a></li>
                <li><a href="page-sidebar-right.html">Sidebar Right</a></li>
              </ul>
            </li>
            <li><a href="sitemap.html">Site Map</a></li>
            <li><a href="faq.html">FAQ</a></li>
          </ul>
        </li>
        <!-- END PAGES -->
  
        <!-- FEATURES -->
        <li class="has-submenu">
          <a href="#">Features</a>
          <ul class="submenu">
            <li class="has-submenu">
              <a href="#">Headers</a>
              <ul class="submenu">
                <li><a href="header-transparent.html">Transparent</a></li>
                <li><a href="header-white-sticky-top.html">White - Sticky Top</a></li>
                <li><a href="header-white-sticky-bottom.html">White - Under Hero</a></li>
                <li><a href="header-white-top-bar.html">White + Top Bar</a></li>
                <li><a href="header-white-top-bar-black.html">White + Black Top Bar</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Hero Headers</a>
              <ul class="submenu">
                <li><a href="features-parallax.html">Parallax</a></li>
                <li><a href="features-youtube.html">Youtube</a></li>
                <li><a href="features-vimeo.html">Vimeo</a></li>
                <li><a href="features-flexslider.html">FlexSlider</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Page Titles</a>
              <ul class="submenu">
                <li><a href="features-page-title-parallax.html">Parallax</a></li>
                <li><a href="features-page-title-video.html">Youtube or Vimeo</a></li>
                <li><a href="features-page-title-color-gray.html">Gray Color</a></li>
                <li><a href="features-page-title-color-custom.html">Custom Color</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Page Titles Size</a>
              <ul class="submenu">
                <li><a href="features-page-title-big.html">Large</a></li>
                <li><a href="features-page-title-small.html">Small</a></li>
                <li><a href="features-page-title-extra-small.html">Extra Small</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Footers</a>
              <ul class="submenu">
                <li><a href="features-footer-default.html#footer">Default</a></li>
                <li><a href="features-footer-parallax.html#footer">Parallax</a></li>
                <li><a href="features-footer-minimal.html#footer">Minimal</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">CSS Helper</a>
              <ul class="submenu">
                <li><a href="features-background.html">Background</a></li>
                <li><a href="features-padding.html">Padding</a></li>
                <li><a href="features-margin.html">Margin</a></li>
                <li><a href="features-color.html">Colors</a></li>
                <li><a href="features-text.html">Text</a></li>
              </ul>
            </li>
  
          </ul>
        </li>
        <!-- END FEATURES -->
  
        <!-- PORTFOLIO -->
        <li class="has-submenu">
          <a href="#">Portfolio</a>
          <ul class="submenu">
            <li class="has-submenu">
              <a href="#">Grid</a>
              <ul class="submenu">
                <li><a href="portfolio-grid-2-cols.html">2 Columns</a></li>
                <li><a href="portfolio-grid-3-cols.html">3 Columns</a></li>
                <li><a href="portfolio-grid-4-cols.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Grid No Space</a>
              <ul class="submenu">
                <li><a href="portfolio-grid-2-cols-nospace.html">2 Columns</a></li>
                <li><a href="portfolio-grid-3-cols-nospace.html">3 Columns</a></li>
                <li><a href="portfolio-grid-4-cols-nospace.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Wide Grid</a>
              <ul class="submenu">
                <li><a href="portfolio-wide-grid-2-cols.html">2 Columns</a></li>
                <li><a href="portfolio-wide-grid-3-cols.html">3 Columns</a></li>
                <li><a href="portfolio-wide-grid-4-cols.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Wide Grid No Space</a>
              <ul class="submenu">
                <li><a href="portfolio-wide-grid-2-cols-nospace.html">2 Columns</a></li>
                <li><a href="portfolio-wide-grid-3-cols-nospace.html">3 Columns</a></li>
                <li><a href="portfolio-wide-grid-4-cols-nospace.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Masonry</a>
              <ul class="submenu">
                <li><a href="portfolio-masonry-2-cols.html">2 Columns</a></li>
                <li><a href="portfolio-masonry-3-cols.html">3 Columns</a></li>
                <li><a href="portfolio-masonry-4-cols.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Masonry No Space</a>
              <ul class="submenu">
                <li><a href="portfolio-masonry-2-cols-nospace.html">2 Columns</a></li>
                <li><a href="portfolio-masonry-3-cols-nospace.html">3 Columns</a></li>
                <li><a href="portfolio-masonry-4-cols-nospace.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Wide Masonry</a>
              <ul class="submenu">
                <li><a href="portfolio-wide-masonry-2-cols.html">2 Columns</a></li>
                <li><a href="portfolio-wide-masonry-3-cols.html">3 Columns</a></li>
                <li><a href="portfolio-wide-masonry-4-cols.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Wide Masonry No Space </a>
              <ul class="submenu">
                <li><a href="portfolio-wide-masonry-2-cols-nospace.html">2 Columns</a></li>
                <li><a href="portfolio-wide-masonry-3-cols-nospace.html">3 Columns</a></li>
                <li><a href="portfolio-wide-masonry-4-cols-nospace.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Works Hover Colors</a>
              <ul class="submenu">
                <li><a href="portfolio-hover-brand.html">Brand Color</a></li>
                <li><a href="portfolio-hover-light.html">Light Color</a></li>
                <li><a href="portfolio-hover-dark.html">Dark Color</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Single Work</a>
              <ul class="submenu">
                <li><a href="portfolio-single-1.html">Single 1</a></li>
                <li><a href="portfolio-single-2.html">Single 2</a></li>
                <li><a href="portfolio-single-3.html">Single 3</a></li>
                <li><a href="portfolio-single-4.html">Single 4</a></li>
              </ul>
            </li>
  
          </ul>
        </li>
        <!-- END PORTFOLIO -->
  
        <!-- BLOG -->
        <li class="has-submenu">
          <a href="#">Blog</a>
          <ul class="submenu">
            <li class="has-submenu">
              <a href="#">Grid</a>
              <ul class="submenu">
                <li><a href="blog-grid-2-col.html">2 Columns</a></li>
                <li><a href="blog-grid-3-col.html">3 Columns</a></li>
                <li><a href="blog-grid-4-col.html">4 Columns</a></li>
                <li><a href="blog-grid-full-width.html">Full Width</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Classic</a>
              <ul class="submenu">
                <li><a href="blog-classic-left-sidebar.html">Sidebar Left</a></li>
                <li><a href="blog-classic-right-sidebar.html">Sidebar Right</a></li>
                <li><a href="blog-classic-no-sidebar.html">Without Sidebar</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Masonry</a>
              <ul class="submenu">
                <li><a href="blog-masonry-2-col.html">2 Columns</a></li>
                <li><a href="blog-masonry-3-col.html">3 Columns</a></li>
                <li><a href="blog-masonry-4-col.html">4 Columns</a></li>
                <li><a href="blog-masonry-full-width.html">Full Width</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Thumbnail</a>
              <ul class="submenu">
                <li><a href="blog-thumbnail-left-sidebar.html">Sidebar Left</a></li>
                <li><a href="blog-thumbnail-right-sidebar.html">Sidebar Right</a></li>
                <li><a href="blog-thumbnail-no-sidebar.html">Without Sidebar</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Single Post</a>
              <ul class="submenu">
                <li><a href="blog-single-sidebar-left.html">Sidebar Left</a></li>
                <li><a href="blog-single-sidebar-right.html">Sidebar Right</a></li>
                <li><a href="blog-single-no-sidebar.html">Without Sidebar</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- END BLOG -->
  
        <!-- SHOP -->
        <li class="has-submenu">
          <a href="#">Shop</a>
          <ul class="submenu">
            <li class="has-submenu">
              <a href="#">Grid</a>
              <ul class="submenu">
                <li><a href="shop-grid-2-col.html">2 Columns</a></li>
                <li><a href="shop-grid-3-col.html">3 Columns</a></li>
                <li><a href="shop-grid-4-col.html">4 Columns</a></li>
              </ul>
            </li>
  
            <li><a href="shop-single-product.html">Product</a></li>
  
            <li class="has-submenu">
              <a href="#">Checkout</a>
              <ul class="submenu">
                <li><a href="shop-checkout.html">Checkout</a></li>
                <li><a href="shop-checkout-completed.html">Checkout Completed</a></li>
              </ul>
            </li>
  
            <li class="has-submenu">
              <a href="#">Shoping Cart</a>
              <ul class="submenu">
                <li><a href="shop-cart.html">Shoping Cart</a></li>
                <li><a href="shop-cart-empty.html">Shoping Cart - Empty</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- END SHOP -->
  
        <!-- SHORTCODES: MEGA MENU -->
        <li class="has-submenu">
          <a href="#">Shortcodes</a>
          <ul class="submenu submenu-mega">
            <li>
              <span class="submenu-title">Elements 1</span>
              <ul>
                <li><a href="components-accordions.html">Accordions</a></li>
                <li><a href="components-alerts.html">Alerts</a></li>
                <li><a href="components-buttons.html">Buttons</a></li>
                <li><a href="components-carousel.html">Carousel</a></li>
                <li><a href="components-clients.html">Clients</a></li>
                <li><a href="components-featuresbox.html">Features Box</a></li>
                <li><a href="components-forms.html">Form Fields</a></li>
              </ul>
            </li>
  
            <li>
              <span class="submenu-title">Elements 2</span>
              <ul>
                <li><a href="components-grid.html">Grid</a></li>
                <li><a href="components-iconboxes.html">Icon boxes</a></li>
                <li><a href="components-icons-font-awesome.html">Icons Font Awesome</a></li>
                <li><a href="components-icons-simple-line.html">Icons Simple line</a></li>
                <li><a href="components-labels.html">Labels & Badges</a></li>
                <li><a href="components-modals.html">Modals</a></li>
                <li><a href="components-modules.html">Modules</a></li>
              </ul>
            </li>
  
            <li>
              <span class="submenu-title">Elements 3</span>
              <ul>
                <li><a href="components-pagination.html">Pagination</a></li>
                <li><a href="components-tooltips.html">Popovers & Tooltips</a></li>
                <li><a href="components-pricing-tables.html">Pricing Tables</a></li>
                <li><a href="components-progress-bars.html">Progress Bars</a></li>
                <li><a href="components-sliders.html">Sliders</a></li>
                <li><a href="components-social-icons.html">Social Icons</a></li>
                <li><a href="components-tables.html">Tables</a></li>
              </ul>
            </li>
  
            <li>
              <span class="submenu-title">Elements 4</span>
              <ul>
                <li><a href="components-tabs.html">Tabs</a></li>
                <li><a href="components-team.html">Team</a></li>
                <li><a href="components-typography.html">Typography</a></li>
                <li><a href="components-video.html">Video</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- END SHORTCODES: MEGA MENU -->
  
        <!-- DIVIDER -->
        <li><a>&nbsp;</a></li>
  
        <li><a href="start.html">All Demos</a></li>
  
      </ul>
    </nav>
  
  </div>
</header>
<!-- HEADER -->
