<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Inkoop">
  <meta name="keywords" content="Ruby on Rails Bangalore Software development consultancy Freelance Expert Companies Services">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.site_title }}{% endif %}</title>

  <meta property="og:title" content="{{ site.site_title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.inkoop.in" />
  <meta property="og:description" content="Web development Consultancy Services based in Bangalore | We work on amazing web technologies like Ruby on Rails, Nodejs, Angular, Backbone | Talk to us about your product idea." />
  <meta property="og:image" content="http://www.inkoop.in/images/logo.jpg" />
  
  <!-- Favicons -->
  <!-- <link rel="shortcut icon" href="/images/favicon.png"> -->
  <!-- <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png"> -->
  
  <!-- Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Icon Fonts -->
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/simple-line-icons.css" rel="stylesheet">
  
  <!-- Plugins -->
  <link href="/css/magnific-popup.css" rel="stylesheet">
  <link href="/css/owl.carousel.css" rel="stylesheet">
  <link href="/css/flexslider.css" rel="stylesheet">
  <link href="/css/animate.min.css" rel="stylesheet">
  
  <!-- Template core CSS -->
  <link href="/css/vertical.min.css" rel="stylesheet">
  <link href="/css/template-blue.min.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">

  <script src="/js/jquery-2.2.3.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/plugins.min.js"></script>
  <script src="/js/custom.min.js"></script>
</head>
