---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include blog_header.html %}
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="stylesheet" href="/css/highlight.css">
  <body>
    <div class="container wrapper" id="blog_wrapper">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {{ content }}
          <div id="disqus_thread"></div>
          <script>
            var disqus_config = function () {
              this.page.url = "http://www.inkoop.in/{{ page.url }}";
              this.page.identifier = "{{ page.identifier }}";
            };
            (function() {
              var d = document, s = d.createElement('script');
              s.src = '//inkoop-inkoop-in.disqus.com/embed.js';
              s.setAttribute('data-timestamp', + new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include css.html %}
    {% include external.html %}
    {% include js.html %}
  </body>
</html>
