<!DOCTYPE html>
<html lang="en">
<body>
  {% include head.html %}
  <!-- PRELOADER -->
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <!-- END PRELOADER -->

  {% include header.html %}

  <!-- WRAPPER -->
  <div class="wrapper">

    <!-- HERO -->
    <section class="module">
      <div class="container">

        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">

            <div class="text-center">
              <h1>We are branding & digital studio from London</h1>
              <h1>that specializes in lifestyle photography.</h1>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- END HERO -->

    <!-- PORTFOLIO -->
    <section class="module-xs p-b-0">
      <div class="container">

        <!-- PORTFOLIO FILTERS -->
        <div class="row">
          <div class="col-sm-12">
            <ul id="filters" class="filters">
              <li><a href="#" class="current" data-filter="*">All</a></li>
              <li><a href="#" data-filter=".brand">Brand</a></li>
              <li><a href="#" data-filter=".design">Design</a></li>
              <li><a href="#" data-filter=".motion">Motion</a></li>
              <li><a href="#" data-filter=".printing">Printing</a></li>
            </ul>
          </div>
        </div>
        <!-- END PORTFOLIO FILTERS -->

      </div>

      <div class="works-grid-wrapper">

        <!-- WORKS GRID -->
        <div id="works-grid" class="works-grid works-grid-masonry works-grid-white works-grid-3">

          <!-- PORTFOLIO ITEM -->
          <article class="work-item brand">
            <div class="work-wrapper">
              <img src="/images/portfolio/1.jpg" alt="">
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Mega Menu</h6>
                  <span class="work-category">Brand</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item motion">
            <div class="work-wrapper">
              <img src="/images/portfolio/masonry-1.jpg" alt="">
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Responsive Design</h6>
                  <span class="work-category">Motion</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item printing">
            <div class="work-wrapper">
              <img src="/images/portfolio/2.jpg" alt="">
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Reusable Elements</h6>
                  <span class="work-category">Printing</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item design">
            <div class="work-wrapper">
              <img src="/images/portfolio/masonry-2.jpg" alt="">
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Awesome Parallax</h6>
                  <span class="work-category">Design</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item brand">
            <div class="work-wrapper">
              <img src="/images/portfolio/masonry-3.jpg" alt="">
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Google Web Fonts</h6>
                  <span class="work-category">Brand</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item printing">
            <div class="work-wrapper">
              <img src="/images/portfolio/3.jpg" alt="">
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Twitter Feed</h6>
                  <span class="work-category">Printing</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

        </div>
        <!-- END WORKS GRID -->

      </div>

    </section>
    <!-- END PORTFOLIO -->

    <!-- FOOTER -->
    <footer class="footer-minimal">
      <div class="container">
      
        <div class="row">
          <div class="col-sm-12">
            <ul class="social-icons social-icons-md text-center m-b-35">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            </ul>
          </div>
        </div>
      
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="m-0">Copyright <a href="#">Neomax</a>, 2015, All Rights Reserved.</p>
          </div>
        </div>
      
      </div>
    </footer>
    <!-- END FOOTER -->

  </div>
  <!-- END WRAPPER -->

  <!-- JAVASCRIPT FILES -->

  <script src="/js/jquery-2.2.3.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/plugins.min.js"></script>
  <script src="/js/custom.min.js"></script>

</body>
</html>
